.header {
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:lightgreen;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
.center {
    width:350px;
    float:right;
    background-color:lightyellow;
    padding:10px;	 	 
}
.footer {
    background-color:gray;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
.vikas{
    float:left;

}
.mypics{
    float:left;
     height:50px;
    width:20px;
}

.title{
    /*border: solid black 1px;*/
    margin-bottom: 2px;
    color:black;
    padding:10px;
    font-size: 30px; 
    font-style: normal; 
    height: 50px; 
}
.main{
    margin-bottom: 2px;
    /*border: solid black 1px;*/
    text-align:center;
   font-size:40px;
   height:140px;
}
.learnmore{
    border-radius:50px;
    text-align:center;
    border: silver solid 1px;
    background-color: white;
    width: 100px;
    height: 30px;
}
.WriteANewStory{
     border-radius:50px;
    text-align:center;
    border: silver solid 1px;
    background-color: white;
    width: 150px;
    height: 40px;
    float:right;
}
.downLine{
    /*border:solid black 2px;*/
    width: 1000px;
    height: 57px;
    margin-left: 135px;
    margin-right: 150px
    /*vertical-align: center;*/
}
.butt{
    text-align:center;
    color:gray;
    border: none;
    background-color: white;
    width: 100px;
    height: 30px;
}
.downBox{
     /*border:solid black 2px;*/
    width: 1000px;
    height: 200px;
    margin-top: 2px;
    margin-left: 135px;
    margin-right: 150px;
 
}
.box1{
     /*border:solid black 2px;*/
     width: 165;
     height: 200;
     display: inline-block;
     float: left;

}
.box2{
    /*border:solid black 2px;*/
     margin-top:40px;
     width: 145;
     height: 116;
     /*display:inline;*/

}
.box3{
    /*border:solid black 2px;*/
     width:1000;
     height: 200;
}

