.heading{
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;
    margin-top: 50px
}

.main{
    text-align:center;
 	border: solid black 1px;
    background-color:lightgreen;
	width:320px;
	height:320px;
	margin-top: 20px;
}
.box{
	width:80px;
	height:80px;
 	border: solid black 1px;
    text-align:center;
    display:inline;
    float:left;
}